/* Style sheet for the Favorite Recipes, lets make this look modern and clean */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3%;
}
li {
    margin: 7px;
    list-style-type: square;
    margin-right: 20%;
    font-size: 18px;
}
.main.entrees {
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: black;
    width: auto;
    margin: auto;
}
.main.snacks {
    padding-top: 1%;
    padding-bottom: 1%;
    color: black;
    width: auto;
    margin: auto;
}
.main.desserts {
    padding-top: 1%;
    padding-bottom: 1%;
    color: black;
    width: auto;
    margin: auto;
}
#wrapper {
    width: auto;
    display: flex;
    flex-direction: row;
}
.recipe_home_link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
.main.body {
    background-color: white;
}
/* Index Page Header */
.main.header {
    color: white;
    text-align: center;
    padding-top: 35px;
    font-size: 42px;

}
.main.firstdiv {
    background-color: #232b2b;
    margin-bottom: 0;
    margin-top: -28px;
    margin-left: -25px;
    margin-right: -25px;
    height: 125px;

}

/* Reciepe Pages Styling */
.RecipePage-h1 {
    text-align: center;
    display: block;
}

.RecipePage-img {
    margin: auto;
    display: block;
}
.RecipePage-p {
    font-size: 18px;
    margin-right: 20%;
    margin-left: 2%;
}
div.RecipePage-div {
    background-color: whitesmoke;
}
.RecipePage-body {
    background-color: whitesmoke;
}

/* CSS for the Collage of Recipes */
.collageRow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3px;
    margin-left: 20%;
}

.collageColumn {
    flex: 50%;
    max-width: 25%;
    padding: 0 3px;
}

.collageColumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}